
.dot {
  float: left;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
} 

.darkcyan {
  background-color: #005000;
}

.green {
  background-color: #006666;
}

.brown {
  background-color: #cc6600;
}

body {
  font-family: 'DM Serif Display';
}

svg {
  font-family: 'DM Serif Display';
  font-size: 11px;
  color: #005000;
}

.leyendaeeuu {
  color : #005000;
  font-size: 14px;
}

.leyendachina {
  color : #006666;
  font-size: 14px;
}

.leyendarusia {
  color : #cc6600;
  font-size: 14px;
}

