.box {
  float: left;
  height: 20px;
  width: 20px;
  margin-bottom: 15px;
  border: 1px solid black;
  clear: both;
}

.darkcyan {
  background-color: darkcyan;
}

.green {
  background-color: green;
}

.brown {
  background-color: brown;
}
